.btn {
  display: inline-block;
  border: none;
  outline: none;
  padding: 8px 20px;
  border-radius: 8px;

  background-color: #1877f2;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}
